.form-radio-btn {
  font-family: #{$custom-fonts};
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $menu-header-color;

  @media (min-width: $screen-md) {
    font-size: 20px;
    line-height: 1;
  }

  //скрываем "правильно" для скринридеров
  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }

  &__input:checked ~ &__label > &__pseudo-icon {
    background-color: $icon-background;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__label:hover > &__pseudo-icon {
    border-color: #bababa;
  }

  &__label:active {
    opacity: 0.3;
  }

  &__pseudo-icon {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-clip: content-box;

    @media (min-width: $screen-md) {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }
}
