.program-form {
  $block: &;
  margin: 0;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: #{$custom-fonts};
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
    color: $title-color;

    @media (min-width: $screen-md) {
      margin-bottom: 65px;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &__wrapper {

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > #{$block}__field {
        width: 570px;
      }

      & > #{$block}__input-wrap {
        width: 570px;
        margin-bottom: 0;
      }
    }
  }

  &__checkboxes-wrapper {

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      & > #{$block}__input-wrap {
        width: 285px;
      }
    }

    @media (min-width: $screen-lg) {

      & > #{$block}__input-wrap {
        width: 245px;
      }
    }
  }

  &__field {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: none;

    @media (min-width: $screen-md) {
      margin: 0 40px;
      margin-bottom: 70px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      margin-bottom: 70px;
    }

    &--border {
      padding: 20px;
      border: 1px solid #ededed;

      @media (max-width: $screen-md - 1) {
        margin-left: -20px;
        margin-right: -20px;
      }
    }
  }

  &__input-wrap {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }
  }

  &__legend {
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      margin-bottom: 70px;
    }
  }

  &__submit-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    @media (min-width: $screen-md) {
      flex-direction: row;
      align-items: center;
      margin: 0 40px;
      margin-top: -10px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
    }
  }

  &__info {
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: $text-color;

    @media (min-width: $screen-md) {
      margin-left: 60px;
      font-size: 16px;
      line-height: 1;
      text-align: left;
    }

    @media (min-width: $screen-lg) {
      margin-left: 80px;
    }
  }

  &__btn-submit {
    order: -1;
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      width: 280px;
      margin-bottom: 0;
      font-size: 20px;
    }

    @media (min-width: $screen-lg) {
      width: 570px;
    }
  }
}
