.form-input-text {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-family: $custom-fonts;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $text-color;

  @media (min-width: $screen-md) {
    font-size: 20px;
    line-height: 1;
  }
}

.form-input-text__label {
  margin-right: 15px;
}

.form-input-text__input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  width: 165px;
  padding: 14px 15px;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: none;
  outline-offset: -1px;
  outline: 1px solid #cdcdcd;
  background-color: transparent;

  @media (min-width: $screen-md) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &[type='email'],
  &[type='tel'] {
    padding-right: 45px;
  }

  &:focus {
    outline-offset: -2px;
    outline: 2px solid #444;

    & ~ svg {
      // color: $icon-background;
      fill: $icon-background;
    }
  }

  &:invalid {
    outline-offset: -2px;
    outline: 2px solid #ff8282;

    & ~ svg {
      // color: #ff8282;
      fill: #ff8282;
    }
  }

  &::placeholder {
    font: inherit;
    color: inherit;
  }

  & ~ svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(50%, -50%);
    // color: #666;
    fill: #666;
  }
}
