.select-program {
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    margin-bottom: 73px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 80px;
  }

  &__title {
    margin: 0;
    padding: 25px 20px 35px;
    font-family: #{$custom-fonts};
    font-size: 36px;
    font-weight: 400;
    line-height: 1.67;
    color: $title-color;

    @media (min-width: $screen-md) {
      padding: 30px 30px 50px;
      font-size: 60px;
    }

    @media (min-width: $screen-lg) {
      padding: 30px 110px 50px;
    }
  }
}
