.site-navigation {
  $border-bottom-width: 2px;
  $border-bottom-color: #e6e6e6;

  @media (max-width: $screen-md) {
    border-bottom: $border-bottom-width solid $border-bottom-color;
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    padding: 24px 30px;
  }

  @media (min-width: $screen-lg) {
    padding: 54px 110px;
  }

  &__logo {
    display: block;
    width: 192px;
    height: 38px;
    margin: 13px 20px;
    background: url('../img/logo-mobile.svg') center center no-repeat;

    @media (min-width: $screen-md) {
      width: 173px;
      height: 58px;
      margin: 0;
      background: url('../img/logo-tablet.svg') center center no-repeat;
    }

    @media (min-width: $screen-lg) {
      width: 202px;
      height: 59px;
      background: url('../img/logo-desktop.svg') center center no-repeat;
    }
  }

  &__logo[href]:hover,
  &__logo[href]:focus {
    opacity: 0.8;
  }

  &__logo[href]:active {
    opacity: 0.6;
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;

    &--close {
      display: none;
    }

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: auto;
    }
  }

  &__item {
    display: block;
    text-align: center;

    @media (max-width: $screen-md) {
      border-top: $border-bottom-width solid $border-bottom-color;
    }

    @media (min-width: $screen-md) {
      margin-left: 35px;
    }

    & a {
      display: inline-block;
      padding: 20px 0;
      font-family: #{$custom-fonts};
      font-size: 20px;
      font-weight: 500;
      line-height: 1.25;
      text-decoration: none;
      text-transform: uppercase;
      color: $title-color;

      @media (min-width: $screen-md) {
        font-size: 18px;
        font-weight: 400;
      }

      @media (min-width: $screen-lg) {
        font-size: 20px;
        color: $white;
      }
    }

    & a[href]:hover,
      a[href]:focus {
        opacity: 0.6;
      }

    & a[href]:active {
      opacity: 0.3;
    }

    &--current a {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        height: 2px;
        background-color: $icon-background;

        @media (min-width: $screen-lg) {
          background-color: $white;
        }

      }
    }
  }
}
