.site-navigation {

  @media (min-width: $screen-lg) {
    max-width: 50%;
  }
}

.site-navigation__list {
  width: 100%;
  margin: 0;
  padding: 0;

  &--close {
    display: none;
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
  }
}

.site-navigation__item {
  display: block;
  text-align: center;
  color: $title-color;

  @media (max-width: $screen-md - 1) {
    // box-shadow: 0 -1px 0 0 #e6e6e6;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 2px solid #e6e6e6;
  }

  @media (min-width: $screen-md) {
    margin-left: 35px;
  }

  .main-page & {

    @media (min-width: $screen-lg) {
      color: $white;
    }
  }

  & a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
    font-family: #{$custom-fonts};
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;

    @media (min-width: $screen-md) {
      font-size: 18px;
      font-weight: 400;
    }

    @media (min-width: $screen-lg) {
      font-size: 20px;
    }
  }

  & a[href]:hover,
  & a[href]:focus {
    opacity: 0.6;
  }

  & a[href]:active {
    opacity: 0.3;
  }

  &--current a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 2px;
    background-color: $icon-background;
  }

  .main-page &--current a::after {

    @media (min-width: $screen-lg) {
      background-color: currentColor;
    }
  }
}
