<header class="main-header">

  @@if (current_page === "index_html") {
  <a class="main-header__logo">
  }

  @@if (current_page !== "index_html") {
  <a href="index.html" class="main-header__logo">
  }
    <picture>
      <source media="(min-width: 1440px)" srcset="img/header-logo--desktop.svg">
      <source media="(min-width: 768px)" srcset="img/header-logo--tablet.svg">
      <img src="img/header-logo--mobile.svg" alt="Логотип Cat Energy" width="192" height="38"/>
    </picture>
  </a>

  <nav class="site-navigation">

    <button class="main-header__toggle-btn menu-toggle-btn menu-toggle-btn--open js-menu-toggle-btn" name="toggle-menu" type="button" aria-label="Открыть меню" hidden>
      <span class="menu-toggle-btn__line"></span>
    </button>

    <ul class="site-navigation__list js-site-menu">
      @@if (current_page === "index_html") {
      <li class="site-navigation__item site-navigation__item--current">
        <a>Главная</a>
      </li>
      <li class="site-navigation__item">
        <a href="catalog.html">Каталог продукции</a>
      </li>
      <li class="site-navigation__item">
        <a href="form.html">Подбор программы</a>
      </li>
      }
      @@if (current_page === "catalog_html") {
      <li class="site-navigation__item">
        <a href="index.html">Главная</a>
      </li>
      <li class="site-navigation__item site-navigation__item--current">
        <a>Каталог продукции</a>
      </li>
      <li class="site-navigation__item">
        <a href="form.html">Подбор программы</a>
      </li>
      }
      @@if (current_page === "form_html") {
      <li class="site-navigation__item">
        <a href="index.html">Главная</a>
      </li>
      <li class="site-navigation__item">
        <a href="catalog.html">Каталог продукции</a>
      </li>
      <li class="site-navigation__item  site-navigation__item--current">
        <a>Подбор программы</a>
      </li>
      }
    </ul>
  </nav>
</header>
