.btn {

  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  border: none;
  font-family: $custom-fonts;
  font-size: 14px;
  font-weight: $font-weight--normal;
  line-height: 1;
  white-space: nowrap;
  text-overflow: clip;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $icon-background;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--gray {
    color: $text-color;
    background-color: $gray;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
