.product-application {
  margin-bottom: 45px;

  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    font-family: #{$custom-fonts};
    font-size: 36px;
    font-weight: $font-weight--normal;
    line-height: 1.67;

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
      font-size: 60px;
      line-height: 1.1;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      counter-reset: list;
    }
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    display: block;
    min-height: 60px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 80px;

    @media (min-width: $screen-md) {
      width: 245px;
      min-height: 230px;
      margin-top: 45px;
      margin-bottom: 45px;
      margin-right: 75px;
      padding-top: 110px;
      padding-left: 0;
      flex-shrink: 0;
    }

    @media (min-width: $screen-lg) {
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      left: 0;
      top: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $icon-background;

      @media (min-width: $screen-md) {
        width: 80px;
        height: 80px;
      }
    }

    &--functional::before {
      background-size: 26px 29px;
      background-image: url(advantage-1.png);
    }

    &--state::before {
      background-size: 29px 31px;
      background-image: url(advantage-2.png);
    }

    &--food::before {
      background-size: 23px 30px;
      background-image: url(advantage-3.png);
    }

    &--time::before {
      background-size: 26px 31px;
      background-image: url(advantage-4.png);
    }

    @media (min-width: $screen-md) {

      &::after {
        counter-increment: list;
        content: counter(list);
        position: absolute;
        top: -37px;
        right: 0;
        z-index: -1;
        font-family: #{$custom-fonts};
        font-size: 281px;
        line-height: 1;
        color: $gray;
      }
    }
  }
}
