<footer class="main-footer">

  <div class="main-contacts">
    <div class="main-contacts__header">
      <h2 class="main-contacts__title">Приглашаем к&nbsp;сотрудницеству диллеров!</h2>
      <h3 class="visually-hidden">Наш адрес</h3>
      <p class="main-contacts__address">
        ул. Большая <br>
        Коннюшенная д. 19/8 <br>
        <br class="main-contacts__address-br">
        Санкт-Петербург
      </p>
    </div>
    <div class="main-contacts__map-wrap">
      <picture id="main_contacts_map_backup">
        <source type="image/webp" media="(min-width: 1440px)" srcset="img/map-backup--lg.webp">
        <source type="image/webp" media="(min-width: 768px)" srcset="img/map-backup--md.webp">
        <source type="image/webp" srcset="img/map-backup--sm.webp">


        <source media="(min-width: 1440px)" srcset="img/map-backup--lg.jpg">
        <source media="(min-width: 768px)" srcset="img/map-backup--md.jpg">
        <img class="main-contacts__map-img" src="img/map-backup--sm.jpg" alt="Санкт-Петербург, ул. Большая Коннюшенная, д. 19/8" height="365">
      </picture>
      <div class="main-contacts__map-container" id="main_contacts_map">
      </div>
    </div>
  </div>

  <div class="wrapper main-footer__links">

    @@if (current_page === "index_html") {
    <a class="main-footer__logo">
      <img src="img/footer-logo.svg" alt="Магазин Cat energy" width="128" height="38">
    </a>
    }

    @@if (current_page !== "index_html") {
    <a class="main-footer__logo" href="index.html">
      <img src="img/footer-logo.svg" alt="Магазин Cat energy" width="128" height="38">
    </a>
    }

    <ul class="main-footer__social social-links">
      <li class="social-links__item">
        <a class="social-links__link social-links__link--vk" href="#">
          <span class="visually-hidden">Мы в Вконтакте</span>
          <svg role="presentation" aria-hidden="true" width="30" height="16">
            <use xlink:href="#icon-vk"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link social-links__link--inst" href="#">
          <span class="visually-hidden">Мы в Инстаграмме</span>
          <svg role="presentation" aria-hidden="true" width="23" height="23">
            <use xlink:href="#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link social-links__link--fc" href="#">
          <span class="visually-hidden">Мы в Фэйсбуке</span>
          <svg role="presentation" aria-hidden="true" width="14" height="28">
            <use xlink:href="#icon-fc"></use>
          </svg>
        </a>
      </li>
    </ul>

    <a class="main-footer__authors-link" href="#">
      HTML Academy
      <svg role="presentation" aria-hidden="true" width="27" height="34">
        <use xlink:href="#icon-htmlacademy"></use>
      </svg>
    </a>
  </div>
</footer>
<script src="js/script.min.js"></script>
