.product-promo {
  $block: &;

  position: relative;
  margin-bottom: 25px;
  padding: 0 20px;
  padding-top: 30px;
  font-family: #{$custom-fonts};

  @media (max-width: $screen-md - 1) {
    color: $white;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 305px;
      background-color: #63a73a;
      background-image: url(../img/header-bg--mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: -1;
    }
  }

  @media (min-width: $screen-md) {
    margin-bottom: 535px;
    padding: 0 30px;
    padding-top: 30px;
  }

  @media (min-width: $screen-lg) {
    padding: 0 110px;
    padding-top: 80px;
    margin-bottom: 235px;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: $font-weight--normal;
    line-height: 1.1;
    text-align: center;
    color: inherit;

    @media (min-width: $screen-md) {
      margin-bottom: 45px;
      padding-left: 85px;
      font-size: 60px;
      text-align: left;
    }

    @media (min-width: $screen-lg) {
      max-width: 38%;
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: 27px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      margin-bottom: 45px;
      padding-left: 85px;
      font-size: 20px;
      text-align: left;
    }
  }

  &__img {
    display: block;
    width: 280px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 3px;

    @media (min-width: $screen-md) {
      position: absolute;
      right: 40px;
      top: 75%;
      z-index: -1;
      width: 708px;
      // transform: translate(-45%);
    }

    @media (min-width: $screen-lg) {
      top: 0;
      right: 328px;
      width: 552px;
      // transform: translate(-25%);
    }
  }

  &__catalog-link {

    @media (max-width: $screen-md - 1) {
      width: 100%;
    }

    @media (min-width: $screen-md) {
      margin-left: 85px;
      font-size: 20px;
    }
  }
}
