.title-back-line {
  display: inline-block;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: #{$custom-fonts};
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: $title-color;
  background-color: $white;

  @media (min-width: $screen-md) {
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
  }

  @media (min-width: $screen-lg) {
    margin-left: -40px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: 3px;
    margin-top: 0.5em;
    background-color: $icon-background;
  }
}
