.photos-slider__img {
  display: block;
  width: 320px;
  min-width: 320px;
  height: 240px;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: 677px;
    min-width: 677px;
    height: 499px;
  }
}

.no-js .photos-slider {

  &__img-wrap {
    display: block;
    margin: 10px 0;
  }

  &__img-title {
    padding: 0 20px;
    text-align: center;

    @media (min-width: $screen-md) {
      padding: 0 30px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 110px;
    }
  }
}

.js .photos-slider {
  @media (max-width: $screen-lg - 1) {
    position: relative;
  }

  @media (min-width: $screen-md) {
    padding-top: 170px;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 170px;
      bottom: 0;
      z-index: -1;
      background-image:
       linear-gradient(to right, $gray 50%, #eaeaea 50%);
    }
  }

  &__img-wrap {
    margin: 0;
    padding-bottom: 88px;

    @media (max-width: $screen-md - 1) {
      &--next {
        display: none;
      }
    }

    @media (min-width: $screen-md) {
      padding-bottom: 115px;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

      &--prev {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        clip: rect(auto, 350px, auto, 0);
        background-image: linear-gradient(to bottom, $white 170px, $gray 170px);

        // background-color: $gray;
      }

      &--next {
        margin-top: -170px;
        background-image: linear-gradient(to bottom, $white 170px, #eaeaea 170px);
        // background-color: #eaeaea;
      }
    }
  }

  &__img-title {
    display: none;
  }

  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-md) {
      top: 530px;
    }
  }

  &__label {
    position: relative;
    display: block;
    padding: 0 15px;
    border: none;
    font-family: #{$custom-fonts};
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: transparent;

    &::after {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: -3px;
      height: 1px;
      border-bottom: 1px dashed #bebebe;
    }

    @media (max-width: $screen-md - 1) {
      cursor: pointer;

      &:hover::after,
      &:focus::after {
        border-bottom-style: solid;

      }

      &--active {
        cursor: auto;
        pointer-events: none;
      }

      &--active::after,
      &:active::after {
        border-bottom-color: transparent;
      }
    }

    @media (min-width: $screen-md) {
      margin: 0 10px;
      pointer-events: none;
      cursor: auto;
    }
  }

  &__control-background {
    position: relative;
    display: block;
    height: 14px;
    width: 84px;
    font-size: 0;
    border: 1px solid $gray-darken;
    border-radius: 6px;
    background-color: $white;

    @media (min-width: $screen-md) {
      width: 428px;
      height: 6px;
      border: none;
      border-radius: 3px;
      background-color: #dcdcdc;
    }
  }

  &__control {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 6px;
    width: 35px;
    height: 6px;
    margin: 0;
    margin-top: -3px;
    padding: 0;
    border: none;
    border-radius: inherit;
    background-color: $icon-background;


    @media (max-width: $screen-md - 1) {
      transition: all 0.3s linear;
      pointer-events: none;

      &--right {
        left: 43px;
      }
    }

    @media (min-width: $screen-md) {
      left: 50%;
      width: 32px;
      height: 32px;
      margin-left: -14px;
      margin-top: -16px;
      border: 12px solid $white;
      border-radius: 50%;
      background-color: $icon-background;
      box-shadow:
          0 0 0 1px #cdcdcd,
          0 3px 5px 0 rgba(0, 0, 0, 0.15);
      pointer-events: auto;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
        box-shadow:
            0 0 0 1px #cdcdcd,
            0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }

      &:active {
        box-shadow:
            0 0 0 2px $icon-background,
            0 5px 5px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
