.photos-slider__img {
  display: block;
  width: 320px;
  min-width: 320px;
  height: 240px;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: 677px;
    min-width: 677px;
    height: 499px;
  }
}

.no-js .photos-slider {

  &__img-wrap {
    display: block;
    margin: 10px 0;
  }

  &__img-title {
    padding: 0 20px;
    text-align: center;

    @media (min-width: $screen-md) {
      padding: 0 30px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 110px;
    }
  }
}

.js .photos-slider {
  $gradient-color--top: $white;
  $gradient-color--left: $gray;
  $gradient-color--right: #eaeaea;
  $gradient-top-height: 170px;
  $max-width-img-wrap: 700px;
  $rect-start-position: $max-width-img-wrap / 2;
  $padding-img-wrap--mobile: 88px;
  $padding-img-wrap--tablet: 115px;
  //определяется с учетом размера картинок
  $controls-top-position--mobile: 240px + 35px;
  $controls-top-position--tablet: 499px + 35px;



  position: relative;
  // @media (max-width: $screen-lg - 1) {
  //   position: relative;
  // }
  //
  // @media (min-width: $screen-md) {
  //   padding-top: 170px;
  //   z-index: 2;
  //
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     top: 170px;
  //     bottom: 0;
  //     z-index: -1;
  //     background-image:
  //      linear-gradient(to right, $gray 50%, #eaeaea 50%);
  //   }
  // }

  &__img-container {
    position: relative;
    overflow: hidden;

    @media (min-width: $screen-md) {
      // z-index: 2;
      height: 100%;
      background-image: linear-gradient(to bottom, $gradient-color--top $gradient-top-height, transparent $gradient-top-height), linear-gradient(to right, $gradient-color--left 50%, $gradient-color--right 50%);


      // &::after {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   top: 170px;
      //   bottom: 0;
      //   z-index: -1;
      //
      // }
    }
  }

  &__img-wrap {
    max-width: $max-width-img-wrap;
    margin: 0 auto;
    padding-bottom: $padding-img-wrap--mobile;

    @media (max-width: $screen-md - 1) {

      &--next {
        display: none;
      }
    }

    @media (min-width: $screen-md) {
      padding-bottom: $padding-img-wrap--tablet;

      &--prev {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        clip: rect(auto, $rect-start-position, auto, 0);
        background-image: linear-gradient(to bottom, $gradient-color--top $gradient-top-height, $gradient-color--left $gradient-top-height);
      }

      &--next {
        background-image: linear-gradient(to bottom, $gradient-color--top $gradient-top-height, $gradient-color--right $gradient-top-height);
      }
    }
  }

  &__img-title {
    display: none;
  }

  $padding-label--g: 15px;
  $font-size--mobile: 16px;
  $font-size--tablet: 20px;
  $line-height: 20px;

  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    top: $controls-top-position--mobile;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-md) {
      top: $controls-top-position--tablet;
    }
  }

  &__label {
    position: relative;
    display: block;
    padding: 0 $padding-label--g;
    border: none;
    font-family: #{$custom-fonts};
    font-size: $font-size--mobile;
    line-height: $line-height;
    text-transform: uppercase;
    color: $title-color;
    background-color: transparent;

    @media (min-width: $screen-md) {
      margin: 0 10px;
      font-size: $font-size--tablet;
      // outline: none;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: $padding-label--g;
        right: $padding-label--g;
        bottom: -3px;
        height: 1px;
        border-bottom: 1px dashed #bebebe;
      }

      &:hover::after,
      &:focus::after {
        border-bottom-style: solid;
      }

      &--active {
        cursor: auto;
        pointer-events: none;
      }

      &--active::after,
      &:active::after {
        border-bottom-color: transparent;
      }
    }
  }

  &__control-background {

    @media (min-width: $screen-md) {
      position: relative;
      display: block;
      width: 428px;
      height: 6px;
      border: none;
      border-radius: 3px;
      background-color: #dcdcdc;
    }
  }

  &__control {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0;
    cursor: pointer;

    @media (max-width: $screen-md - 1) {
      position: relative;
      height: 14px;
      width: 84px;
      border: 1px solid $gray-darken;
      border-radius: 6px;
      background-color: $white;
      transition: all 0.3s linear;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 6px;
        width: 35px;
        height: 6px;
        padding: 0;
        border-radius: inherit;
        margin: 0;
        margin-top: -3px;
        background-color: $icon-background;
      }

      &--right::after {
        left: 43px;
      }
    }

    @media (min-width: $screen-md) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      margin-left: -14px;
      margin-top: -16px;
      border: 12px solid $white;
      border-radius: 50%;
      background-color: $icon-background;
      box-shadow: 0 0 0 1px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.15);

      &:hover,
      &:focus {
        // outline: none;
        box-shadow: 0 0 0 1px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }

      &:active {
        box-shadow: 0 0 0 2px $icon-background, 0 5px 5px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
