.main-footer {
  background-color: $gray;
  padding: 0 20px;

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
  }

  @media (min-width: $screen-lg) {
    padding: 60px 110px;
  }

  &__logo {
    display: block;
    cursor: pointer;

    @media (max-width: $screen-md - 1) {
      padding-top: 40px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    & > img {
      display: block;
      width: 128px;
      height: 38px;
      margin: 0 auto;
    }
  }

  &__social {

    @media (max-width: $screen-md - 1) {
      padding: 25px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &__authors-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: #{$main-fonts};
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: #444;

    @media (max-width: $screen-md - 1) {

      padding: 25px 0;
    }

    & > svg {
      width: 27px;
      height: 34px;
      fill: #666;
    }

    &:hover,
    &:focus {

      & > svg {
        fill: $icon-background;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__authors-text {
    margin-right: 20px;
  }
}
