//если не работает JavaScript то скрываем кнопку открытия/закрытия меню
.no-js .menu-toggle-btn {
  display: none;
}

.menu-toggle-btn {
  box-sizing: content-box;
  // position: absolute;
  display: block;
  width: 24px;
  height: 18px;
  margin: 0;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $screen-md) {
    display: none;
  }

  //  имитируют верхнюю и нижнюю линии кнопки
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    left: 10px;
    background-color: $black;
    transition: all 0.2s linear;
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }

  &--open {

    & .menu-toggle-btn__line {
      opacity: 0;
    }

    &::before {
      left: (24px - 24px * 0.7071) / 2 + 10px;
      transform-origin: left top;
      transform: rotate(45deg);
    }

    &::after {
      left: (24px - 24px * 0.7071) / 2 + 10px;
      transform-origin: left bottom;
      transform: rotate(-45deg);
    }
  }
}

//  добавляет среднюю линию в кнопке для анимации
.menu-toggle-btn__line {
  position: absolute;
  width: 24px;
  height: 2px;
  left: 10px;
  top: (18px + 2 * 10px ) / 2 - 2px / 2;
  background-color: $black;
  transition: opacity 0.1s linear 0.1s;
}
