//если не работает JavaScript то скрываем кнопку открытия/закрытия меню
.no-js .menu-toggle-btn {
  display: none;
}

.menu-toggle-btn {
  $block: &;
  $width: 24px;
  $height: 18px;
  $padding-v: 0;
  $padding-g: 0;
  $line-height: 2px;
  $line-color: $black;
  $top-position: $padding-v;
  $bottom-position: $padding-v;
  $left-position--line: $padding-g;
  $left-position--cross: ($width - $width * 0.7071) / 2 + $padding-g;

  box-sizing: content-box;
  position: relative;
  display: block;
  width: $width;
  height: $height;
  margin: 13px 20px;
  padding: $padding-v $padding-g;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &__line {
    position: absolute;
    width: $width;
    height: $line-height;
    left: $left-position--line;
    top: calc(50% - #{$line-height} / 2);
    background-color: $line-color;
    transition: opacity 0.1s linear 0.1s;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $width;
    height: $line-height;
    left: $left-position--line;
    background-color: $line-color;
    transition: all 0.2s linear;
  }

  &::before {
    top: $top-position;
  }

  &::after {
    bottom: $bottom-position;
  }

  &--open {

    & #{$block}__line {
      opacity: 0;
    }

    &::before {
      left: $left-position--cross;
      transform-origin: left top;
      transform: rotate(45deg);
    }

    &::after {
      left: $left-position--cross;
      transform-origin: left bottom;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $screen-md) {
    display: none;
  }
}
