.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    display: block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 5px;
    fill: #666;

    &:hover,
    &:focus {
      fill: $icon-background;
    }

    &:active {
      opacity: 0.3;
    }

    &--vk svg {
      width: 30px;
      height: 16px;

      @media (max-width: $screen-md - 1) {
        width: 22px;
        height: 12px;
      }
    }

    &--tw svg {
      width: 23px;
      height: 23px;

      @media (max-width: $screen-md - 1) {
        width: 16px;
        height: 16px;
      }

    }

    &--fb svg {
      width: 14px;
      height: 28px;

      @media (max-width: $screen-md - 1) {
        width: 10px;
        height: 19px;
      }

    }
  }
}
